
body {
    font-family: 'Roboto Mono', monospace;
}

h1 {
    font-size: 5rem;
}

h2{
    font-size: 3em;
    color: slategrey;
}

h3 {
    font-size: 3em ;
    color: slategrey;
}

nav {
    font-size: 2em;
}

p {
    font-size: 2em;
}


img {
   width:100vw;
   margin:0%;
    
}

#headline {

    background-color: #222222;
    color: #baea98;
    padding: 60px;
    width:100%;
}

#headline:hover {
    
    color: #222222; 
    background-color: #baea98; 
    
}



p {
    position: relative;
 }
 
 a {
    color: inherit;
    text-decoration: none; 
 }

 a:visited {
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Floating Back-To-Top Button*/
#myBtn {
    position: fixed;
    bottom: 20px;
    float: right;
    right: 10%;
    left: 90%;
    max-width: 40px;
    width: 100%;
    font-size: 20px;
    border-color: rgba(85, 85, 85, 0.2);
    background-color: rgb(24, 15, 15);
    padding: 1px;
    border-radius: 25px;

}
/*On Hover Color Change*/

#myBtn:hover {

    color: #222222 !important;
    background-color: #baea98;
    
}